.DS_Store
server/__pycache__
server/__pycache__/*
server/.idea
server/.idea/*
.idea
.idea/*
server/migrations/__pycache__
server/data/__pycache__/*
server/data/__pycache__
server/transformation/__pycache__
server/transformation/__pycache__/*
